fastapi
uvicorn[standard]
motor
pydantic
pydantic[email]
python-dotenv
argon2-cffi
python-jose[cryptography]
openpyxl
python-multipart
pytesseract
pillow
torch
PyMuPDF
transformers
sentencepiece
protobuf